body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width:55rem;
}

html {
	background-color: #F5F8FF;
	color: #00538A;
	font-family: 'Lekton', sans-serif;
	margin: 5%;
	line-height:1.25;
	overflow-y: scroll;
}

/* link tags */
a {
	text-decoration: none;
	color: #00538A;
}

a.text-link {
	text-decoration: none;
	background-color: rgb(235,235,235);
	border: 1px solid rgb(235,235,235);
	border-radius: 15px;
	padding: 0.1em;
	padding-right: 0.25em;
	padding-left: 0.25em;
	color: #00538A;
}

a:hover {
	color: red;
}

/* list tags */

ul {
	list-style: none;
	padding: 0;
}

ul.menu {
	margin: 0px;
	text-align: center;
}

ul.menu li {
	display: inline;
	margin: 0.75%;
}

li {
	margin: 0.5em 0;
}

/* image tags */

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5vh;
}

img#man {
	display: block;
	margin: auto;
}

img#berber {
	max-width:300px;
}


img {
	max-width:100%;
	height: auto;
}

/* paragraph tags */

p.supertitle {
	margin-top:30px;
}

p.subtitle {
	margin-top:0px;
}

.sidebar {
	display: flex;
	flex: 0 1 220px;
	min-width: 200px;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 1em;
}

.sidebox {
	margin-bottom: 0;
}

.imgcontainer {
	display: flex;
	flex-direction:column;
	justify-contet: flex-start;
	/*flex: 0 1 830px;*/
	border: 10px solid red;
}

.content {
	width: 100%;
	text-align: left;
}

.longblock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom:50px;
}	

.longblock .left {
	flex: 0 0 60px;
	min-width: 160px;
}

.block {
	margin-bottom:50px;
}


/* account coloring */

#arena {
	color: black;
}

#github {
	color: grey;
}

#twitter {
	color: #5CB3FF;
}

#strava{
	color: #f08800;
}

