body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #F3F6FA;
	font-family: 'Lekton', sans-serif;
	margin: 5%;
	line-height:1.25;
}

h2 {
	font-family: 'Lekton', sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

ul {
	list-style: none;
	padding: 0;
}

ul.menu {
	margin: 0px;
}

ul.menu li {
	display: inline;
	margin: 1%;
}

table {
	max-width: 800px;
	overflow: hidden;
}

td {
	padding-right:1%;
	padding-bottom:1%;
	padding-left:1%;
}

td p {
	padding-bottom:7px;
}

td img {

	object-fit: cover;
}

img {
	max-width:100%;
	height: auto;
}

.top-container {
	height: 75px;
}
.bottom-container {
	display: flex;
	height:100vh;
	flex-direction: column;
	justify-content: flex-start;
}

.imgcontainer {
	display: flex;
	flex-direction:column;
	justify-contet: flex-start;
	/*flex: 0 1 830px;*/
	border: 10px solid red;
}

.sidebar {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: space-between;
	margin: 15px 0px 15px 0px;
}

.content {
	width: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom:50px;
}	

.text .left {
	flex: 0 0 60px;
	min-width: 160px;
}

.block {
	margin-bottom:50px;
}

.block li {
	margin: 1em 0;
}

.pages {
	text-align: center;
	height: 30px;
}

.accounts {
	height: 30px;
	text-align: center;
	font-size: 0.75em;
}

#arena {
	color: black;
}

#github {
	color: grey;
}

#kaggle {
	color: #5CB3FF;
}

#strava{
	color: #FFA62F;
}

#cities td {
	padding-right:2%;
	padding-bottom:2%;
	padding-left:2%;
	width:50%;
}

