html {
	background-color: #fffdf8;
	font-family: 'Inter', sans-serif;
	color: #3b3b38;
	padding: 5%;
	line-height:1.25;
	overflow-y: scroll;
}

body {
	display: flex;
	padding: 0;
	max-width:55rem;
	margin: auto;
	box-sizing: border-box;
}

/* link tags */

a {
	text-decoration: underline;
	color: #00538A;
}

a.list-link {
	text-decoration: none;
	background-color: rgb(242, 242, 242);
	border: 1px solid rgb(242, 242, 242);
	border-radius: 15px;
	padding: 0.1em;
	padding-right: 0.25em;
	padding-left: 0.25em;
	color: #3b3b38;
}

a:hover {
	color: red;
}

/* list tags */

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0.75em 0;
}

/* image tags */

img {
	max-width:500px;
	height: auto;
}

/* paragraph tags */

p.title {
	color: #00538A;
}

.sidebar {
	display: flex;
	flex: 0 1 220px;
	min-width: 200px;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebox {
	margin-bottom: 5vh;
}

.content {
	width: 1100px;
}