html {
	background-color: #fffdf8;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	color: #222;
	padding: 5vh;
	line-height: 1.4;
	overflow-y: scroll;
}

body {
	display: flex;
	padding: 0;
	max-width:55rem;
	margin: auto;
	box-sizing: border-box;
	justify-content: center;
}

/* link tags */

a {
	text-decoration: underline;
	color: #00538A;
}

a.list-link {
	text-decoration: none;
	color: #222;
}

a:hover {
	color: red;
}

a p {
	margin: 8px 0px 8px 0px;
	color: #282828;
	font-size: 1em;
	font-weight: 200;
	padding-left: 1em;
}

a:hover p{
	color: red;
}

/* list tags */

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0.75em 0;
}

/* image tags */

img {
	max-width:100%;
	height: auto;
}

/* paragraph tags */

p.title {
	color: #d90700;
}

.sidebar {
	display: flex;
	flex: 0 1 220px;
	min-width: 200px;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebox {
	margin-bottom: 5vh;
}

.content {
	max-width: 40rem;
}